
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@700&display=swap');


body, html{
    margin: 0;
    padding: 0;
    background-color: black;
}

.titre {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    background-color: black;
    width: 100%;
    padding-top: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.bar {
    background-color: #FFF57B;
    height: 2pt;
    width: 70px;
    bottom:20px;
    margin-bottom: 25px;
}

.profil {
    display: flex;
}

#mathis {
    width: 30vw;
}

.infos {
    margin-left: 5vw;
}

#nom {
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
}

h2 {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.section {
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.122);
    border-top: white solid 2px;
    border-bottom: white solid 2px;
    padding: 5vw 10vw 5vw 10vw;
    margin-top: 5vh;
}

.liens {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin: 2em 0 2vh 0 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#logo {
}